# kubeconfig / 인증
kubeconfig*
*.kubeconfig
.env
*.pem
*.key
ncp-*.json

# 빌드 산출물
node_modules/
dist/
build/
__pycache__/
*.log

# OS
.DS_Store
Thumbs.db

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
.terraform.lock.hcl
